.addCourse{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: #EED9F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 40px;
}
nav ul{
    display: flex;
    
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    padding: 14px;
    
}
.addCourse .container{
    margin: 100px 700px;
    height: 600px;
    width: 500px;
    background-color: #EED9F8;
    padding: 20px;
}
.addCourse .container h2{
    text-align: center;
    color: #7109A1;
    font-size: 30px;
}
.addCourse .container table tr th{
    text-align: left;
}
.addCourse .container table tr input{
    width: 480px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
.addCourse .container table tr select{
     width: 480px;
    height: 30px;
    margin-bottom: 20px;
    background-color: rgb(172, 187, 174);
    border-radius: 5px;
}
.addCourse .container table tr textarea{
     width: 480px;
    height: 80px;
}
.addCourse .container .btn{
    text-align: center;
    margin-top: 20px;
    
}
.addCourse .container .btn input{
     width: 480px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #7109A1;
    color: white;
    font-size: larger;
}